<?js
var self = this;
?><div class="navigation">
    <h3 class="applicationName"><a href="index.html"><?js= env.conf.templates.applicationName ?></a></h3>
    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentation">
    </div>
    <ul id="navtabs" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#categories" id="catLink" role="tab" data-toggle="tab">Categories</a></li>
        <li><a id="azLink" href="#a_z" role="tab" data-toggle="tab">A-Z</a></li>
    </ul>
    <div class="tab-content">
        <ul class="list tab-pane active" id="categories">
        <?js
        this.nav.forEach(function (item) {
        ?><li class="item" data-name="<?js= item.longname ?>">
            <ul class="methods itemMembers"><?js
            if (item.categories.length) {
                item.categories.forEach(function (c) {
            ?>
              <li>
                <h5 class="title"><?js= c.name ?></h5>
                <ul><?js c.methods.forEach(function(m) { ?>
                   <li data-name="<?js= m.longname ?>"><?js= self.linkto(m.longname, m.name) ?></li><?js });?>
                </ul>
              </li><?js })?>
            <?js } ?>
            </ul>
          </li><?js })?>
        </ul>
        <ul class="list tab-pane" id="a_z">
        <?js
        this.nav.forEach(function (item) {
        ?><li class="item" data-name="<?js= item.longname ?>">
                <ul class="methods itemMembers"><?js
                if (item.methods.length) {
                    item.methods.forEach(function (v) {
                ?>
                    <li data-name="<?js= v.longname ?>"><?js= self.linkto(v.longname, v.name) ?></li><?js
                    });
                }
                ?>
                </ul>
            </li><?js }); ?>
        </ul>
    </div>
</div>
